:root {
  --white: #FFFFFF;
  --grey-100: #FAFAFA;
  --grey-300: #F4F3F3;
  --grey-400: #EDEDED;
  --text: #C2C2C2;
  --bg-header: #2A2A2A;
  --bg-body: #111111;
  --border: #D9D9D9;
  --black-400: #444444;
  --black-600: #262625;
  --black-200-90: #444443;
  --line: #75A625;
  --custom-beige: #F8F0EC;
  --darkBlue: #353E5C;
  --light-gray-blue: #7b7b87;
  --green-500: #21AB53;
  --red-500: #A30C33;
  --red-400: #E74A00;


  --shadow-01: 0 0.5px 2px 0 #19213D1A; // 10% прозрачность
  --shadow-02: 0 1px 4px 0 #19213D14; // 8% прозрачность
  --shadow-03: 0 0.5px 2px 0 #19213D1A; // 10% прозрачность
}

