.header {
  width: 100%;
  height: 112px;
  background-color: var(--bg-header);
  position: fixed;
  z-index: 10;
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
    gap: 10px;
    margin: auto;
    padding: 0 10px;
  }

  .header__top {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;

    .header__search {
      position: relative;
      width: 100%;
      max-width: 400px;
      display: block;

      @media (max-width: 850px) {
        max-width: 200px;
      }


    }

    .header__input {
      padding: 0 10px;
      width: 100%;
      min-height: 40px;
      border: 1px solid var(--bg-body);
      border-radius: 12px;
      background-color: var(--grey-100);
      color: var(--bg-body);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 850px) {
      &::placeholder{
        padding-right: 20px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      }
    }


    .header__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
    }

    .header__lang {
      cursor: pointer;
      display: flex;
      gap: 16px;
      justify-content: flex-end;
    }

    .header__lang-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 28px;
        height: 28px;
        object-fit: contain;
      }
    }

    .header__spanCom {
      position: absolute;
      top: 10px;
      right: 0;
      transform: translate(50%, -50%);
      font-size: 10px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: var(--bg-body);
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      filter: brightness(0) invert(1);
    }

    .icon__lan {
      margin-left: 16px;
      font-size: 14px;
    }
  }


  .header__bottom {
    width: 88%;

    .header__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .header__list-item {
        text-transform: uppercase;
        min-width: max-content;
        position: relative;
        cursor: pointer;
        font-size: 1rem;
        line-height: 20px;
        color: var(--text-color);
        @media (max-width: 450px) {
          font-size: 0.7rem;
          line-height: 15px;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background-color: var(--line);
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }

        &:hover {
          color: var(--line);
        }

        &.active::after {
          transform: scaleX(1);
        }

        &.active {
          color: var(--line);
        }

        &:nth-last-child(2) {
          &::after {
            background-color: var(--red-400);
          }

          &:hover,
          &.active {
            color: var(--red-400);

            &::after {
              background-color: var(--red-400);
            }
          }
        }

        &:nth-last-child(1) {
          &::after {
            background-color: var(--red-400);
          }

          &:hover,
          &.active {
            color: var(--red-400);

            &::after {
              background-color: var(--red-400);
            }
          }
        }
      }
    }
  }
}

